---
- name: Tap Homebrew repos
  community.general.homebrew_tap:
    name: "{{ item }}"
  loop:
    - localsend/localsend

- name: Install Homebrew apps
  community.general.homebrew:
    name: "{{ item }}"
  loop:
    - ntfs-3g-mac
    - deno
    - pinentry-mac
    - powerlevel10k
    - jq
    - docker-credential-helper
    - git
    - gpg
    - pam-reattach
    - imagemagick
    - exiftool
    - nvm
    - mas

- name: Install Homebrew casks
  community.general.homebrew_cask:
    name: "{{ item }}"
    sudo_password: "{{ ansible_become_password | default(omit) }}"
  loop:
    - iterm2
    - visual-studio-code
    - docker
    - google-chrome
    - arc
    - datagrip
    - mounty
    - whisky
    - arq
    - folx
    - notion
    - zoom
    - todoist
    - telegram
    - elmedia-player
    - git-credential-manager
    - slack
    - amneziavpn
