- name: Setup touch-based sudo customization
  import_tasks: auth.yml

- name: Install applications
  import_tasks: apps.yml

- name: Configure OS / app settings
  import_tasks: settings.yml

- name: Setup Playbook itself
  import_tasks: playbook.yml

- name: Add cron jobs
  import_tasks: cron.yml

- name: Include homebrew role
  include_role:
    name: geerlingguy.mac.homebrew
