- name: "Keyboard: wait interval before starting to repeat the key"
  osx_defaults:
    domain: "NSGlobalDomain"
    key: "InitialKeyRepeat"
    type: int
    value: 25

- name: "Keyboard: repeat key interval"
  osx_defaults:
    domain: "NSGlobalDomain"
    key: "KeyRepeat"
    type: int
    value: 5

- name: "Keyboard: holding a key should repeat a key"
  osx_defaults:
    domain: "NSGlobalDomain"
    key: "ApplePressAndHoldEnabled"
    state: absent

- name: "Keyboard: don't add period with double space"
  osx_defaults:
    domain: "NSGlobalDomain"
    key: "NSAutomaticPeriodSubstitutionEnabled"
    type: bool
    value: false

# TODO: migrate to osx_defaults when it supports dictionaries
# https://github.com/ansible-collections/community.general/issues/238
- name: "Keyboard: add 'next input source' hotkey"
  shell: >-
    /usr/libexec/PlistBuddy -c "{{ item }}" ~/Library/Preferences/com.apple.symbolichotkeys.plist
  loop:
    - "Set :AppleSymbolicHotKeys:60:value:parameters:2 1048576"
  changed_when: false

# TODO: migrate to osx_defaults when it supports dictionaries
# https://github.com/ansible-collections/community.general/issues/238
- name: "Keyboard: add 'previous input source' hotkey"
  shell: >-
    /usr/libexec/PlistBuddy -c "{{ item }}" ~/Library/Preferences/com.apple.symbolichotkeys.plist
  loop:
    - "Set :AppleSymbolicHotKeys:61:value:parameters:2 1572864"
  changed_when: false

# TODO: migrate to osx_defaults when it supports dictionaries
# https://github.com/ansible-collections/community.general/issues/238
- name: "Keyboard: disable 'open spotlight' hotkey"
  shell: >-
    /usr/libexec/PlistBuddy -c "{{ item }}" ~/Library/Preferences/com.apple.symbolichotkeys.plist
  loop:
    - "Set :AppleSymbolicHotKeys:64:enabled 0"
  changed_when: false

# TODO: migrate to osx_defaults when it supports dictionaries
# https://github.com/ansible-collections/community.general/issues/238
- name: "Keyboard: disable 'open finder' hotkey"
  shell: >-
    /usr/libexec/PlistBuddy -c "{{ item }}" ~/Library/Preferences/com.apple.symbolichotkeys.plist
  loop:
    - "Set :AppleSymbolicHotKeys:65:enabled 0"
  changed_when: false

# TODO: migrate to osx_defaults when it supports dictionaries
# https://github.com/ansible-collections/community.general/issues/238
- name: "Keyboard: remove all keyboards"
  shell: >-
    /usr/libexec/PlistBuddy -c "{{ item }}" ~/Library/Preferences/com.apple.HIToolbox.plist
  loop:
    - "Delete :AppleEnabledInputSources"
    - "Add :AppleEnabledInputSources array"
    - "Add :AppleEnabledInputSources: dict"
    - "Add :AppleEnabledInputSources:0:InputSourceKind string 'Keyboard Layout'"
    - "Add :AppleEnabledInputSources:0:'KeyboardLayout ID' integer 252"
    - "Add :AppleEnabledInputSources:0:'KeyboardLayout Name' string ABC"
    - "Add :AppleEnabledInputSources: dict"
    - "Add :AppleEnabledInputSources:1:InputSourceKind string 'Keyboard Layout'"
    - "Add :AppleEnabledInputSources:1:'KeyboardLayout ID' integer 19458"
    - "Add :AppleEnabledInputSources:1:'KeyboardLayout Name' string RussianWin"
  changed_when: false

- name: "Keyboard: use globe key to show emoji panel"
  osx_defaults:
    domain: "com.apple.HIToolbox"
    key: "AppleFnUsageType"
    type: int
    value: 2

- name: "Keyboard: turn off the language indicator while switching input sources."
  osx_defaults:
    domain: "kCFPreferencesAnyApplication"
    key: "TSMLanguageIndicatorEnabled"
    type: bool
    value: false
