#!/bin/zsh

# Make a dir and cd into it
mkcd() { mkdir -p "$@" && cd "$@"; }

# cd into whatever is the forefront Finder window.
cdf() {  # short for cdfinder
  cd "`osascript -e 'tell app "Finder" to POSIX path of (insertion location as alias)'`"
}

# All the dig info
digger() {
    dig +nocmd "$1" any +multiline +noall +answer
}

killz() {
  sudo kill -9 `ps aux | grep $1 | grep -v grep | awk '{print $2}'`
}
